<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="headerfiles">
        <title>metrics</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body>
        <!-- инклуд в заголовок -->
        <nav th:fragment="header" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a th:href="@{/admin}" class="navbar-brand">SmartMetrics</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/admin/objects}">Объекты</a></li>
                        <li><a th:href="@{/admin/users}">Пользователи</a></li>
                        <li><a th:href="@{/admin/tags}">Теги</a></li>
                        <li><a th:href="@{/admin/devices}">Устройства</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/admin/logout}" >Выйти</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <p>Go to the next page to see fragments in action</p>
        <aside>
            <div>This is a sidebar</div>
        </aside>
        <div class="another">This is another sidebar</div>
        <footer th:fragment="footer"></footer>
    </body>
</html>