<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/main_dop.css}" rel="stylesheet" />
    <title>Добавить администратора</title>
    <style>
        .submit-link {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body class="center">
    <p>
    <form class="homeout__addadministrator" th:action="@{/logout}" method="post">
        <a th:href="@{/}">Домой</a>
        <input type="submit" value="Выход" class="submit-link"/>
    </form>
    <p>

    <h1 class="addadministrator__header__title">Добавить администратора</h1>

    <form class="table-form__addadministrator" action="#" th:action="@{/admin/add}" th:object="${admin}"
          method="post">
        <fieldset class="fieldset__addadministrator">

            <p class="form-center__login">Логин<input type="text" th:field="*{login}" /></p>
            <p class="form-center__password">Пароль<input type="text" th:field="*{password}" /></p>
            <p class="form-center__active">Активен<input type="checkbox" th:field="*{active}" /></p>
            <p class="save-drop__addadministrator">
                <input type="submit" id="submitButton" th:value="Сохранить">
                <input type="reset" id="resetButton" name="reset" th:value="Сбросить"/>
            </p>
        </fieldset>
    </form>
</body>
</html>

