<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/main_dop.css}" rel="stylesheet" />
    <title>Администраторы Чат-бот</title>
    <style>
        .submit-link {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body class="center">
    <p>
    <form class="homeout" th:action="@{/logout}" method="post">
        <a th:href="@{/}">Домой</a>
        <input type="submit" value="Выход" class="submit-link"/>
    </form>
    <p>
    <h1 class="header__title">Администраторы Чат-бот</h1>

    <table class="table-form">
        <thead>
            <tr>
                <th class="form__title"> Логин </th>
                <th class="form__title"> Активен </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="admin : ${admins}">
                <td><input readonly th:value="*{admin.login}" /></td>
                <td>
                    <input readonly th:if="${admin.active} == true" th:value="Да" />
                    <input readonly th:unless="${admin.active} == true" th:value="Нет" />
                </td>
                <td><input type="hidden" th:value="*{admin.id}" /></td>

                <td><a th:href="@{'/admin/edit/'+ *{admin.id}}">Редактировать</a> </td>
                <td><a th:href="@{'/admin/delete/'+ *{admin.id}}">Удалить</a> </td>

            </tr>
        </tbody>
    </table>
    <p class="add-admin"><a th:href="@{/admin/add}">Добавить администратора</a></p>
</body>
</html>

