<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Редактировать администратора</title>
    <style>
        .submit-link {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <p>
    <form th:action="@{/logout}" method="post">
        <a th:href="@{/}">Домой</a>
        <input type="submit" value="Выход" class="submit-link"/>
    </form>
    <p>
    <h1>Редактировать администратора</h1>

    <form action="#" th:action="@{/admin/add}" th:object="${admin}"
          method="post">
        <fieldset>

            <p>Логин  <input type="text" th:field="*{login}" /></p>
            <p>Пароль <input type="password" th:field="*{password}" /></p>
            <p>Активен<input type="checkbox" th:field="*{active}" /></p>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{roles}" />
            <p>
                <input type="submit" id="submitButton" th:value="Сохранить">
                <input type="reset" id="resetButton" name="reset" th:value="Сбросить"/>
            </p>
        </fieldset>
    </form>
</body>
</html>

