<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/main_dop.css}" rel="stylesheet" />
    <title>Домашняя страница Чат-бот</title>
    <style>
        .submit-link {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body class="center">
    <h1 class="home__header__title">Добро пожаловать!</h1>

    <p class="administration_chat-bot"><a th:href="@{/admin/operators}">Администрирование параметров чат-бот</a></p>
    <p class="admins"><a th:href="@{/admin}">Администраторы чат-бот</a></p>
</body>
</html>