<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
        <style>
            .login-form {
                width: 340px;
                margin: 50px auto;
            }
            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }
            .login-form h2 {
                margin: 0 0 15px;
            }
            .form-control, .btn {
                min-height: 38px;
                border-radius: 2px;
            }
            .btn {        
                font-size: 15px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container">

            <div th:if="${param.error}" class="alert alert-danger text-center" role="alert">
                Неверное имя пользователя и пароль.
            </div>

            <div class="login-form">
                <form th:action="@{/login}" method="post">
                    <h2 class="text-center">Вход в систему</h2>       
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Login" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>