<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/main_dop.css}" rel="stylesheet" />
    <title>Администрирование операторов и параметров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .submit-link {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>

</head>
<body class="center">
    <p>
    <form class="homeout__operatoradmin" th:action="@{/logout}" method="post">
        <a th:href="@{/}">Домой</a>
        <input type="submit" value="Выход" class="submit-link"/>
    </form>
    <p>

<form action="#" th:action="@{/admin/operators/save}" th:object="${operatorsForm}"
      method="post">
    <fieldset>

        <H1 class="operatoradmin__header__title">Управление операторами</H1>

        <table class="table-form__operatoradmin">
            <thead>
            <tr>
                <th> Id </th>
                <th> Логин </th>
                <th> ФИО </th>
                <th> Навык Чат-бот </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="operator, itemStat : *{operators}">
                <td><input readonly th:field="*{operators[__${itemStat.index}__].id}" /></td>
                <td><input readonly th:field="*{operators[__${itemStat.index}__].login}" /></td>
                <td><input readonly th:field="*{operators[__${itemStat.index}__].fullName}" /></td>
                <td><input type="checkbox" th:field="*{operators[__${itemStat.index}__].chatBotSkill}" /></td>
            </tr>
            </tbody>

        </table>

        <br>
        <div class="save-drop">
        <input type="submit" id="submitButton" th:value="Сохранить">
        <input type="reset" id="resetButton" name="reset" th:value="Сбросить"/>
        </div>
    </fieldset>
</form>

<form action="#" th:action="@{/admin/parameters/save}" th:object="${configParamForm}"
      method="post">
    <fieldset>

        <H1 class="operatoradmin__header__title">Общие параметры</H1>

        <table class="table-form__operatoradmin-param">
            <thead>
            <tr>
                <th> Параметр </th>
                <th> Значение </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="configParam, itemStat : *{configParams}">
                <td><input readonly th:field="*{configParams[__${itemStat.index}__].paramName}" /></td>
                <td><input th:field="*{configParams[__${itemStat.index}__].paramValue}" /></td>
            </tr>
            </tbody>
        </table>

        <br>
        <div class="save-drop">
        <input type="submit" id="submitButton2" th:value="Сохранить">
        <input type="reset" id="resetButton2" name="reset" th:value="Сбросить"/>
        </div>

    </fieldset>
</form>

</body>
</html>