.center {
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 30px auto;
    justify-content: center;
}

.homeout {
    display: flex;
    flex-direction: row;
    width: 550px;
    padding-bottom: 10px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header__title{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 550px;
}

.table-form {
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 550px;
}

.add-admin {
    display: flex;
    width: 550px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.home__header__title {
    display: flex;
    width: 380px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.administration_chat-bot {
    display: flex;
    width: 380px;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.admins {
    display: flex;
    width: 380px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.homeout__operatoradmin {
    display: flex;
    flex-direction: row;
    width: 656px;
    padding-bottom: 10px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.operatoradmin__header__title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 656px;
}

.table-form__operatoradmin {
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 656px;
}

.table-form__operatoradmin-param {
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 360px;
}

.save-drop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px;
}

.homeout__addadministrator {
    display: flex;
    flex-direction: row;
    width: 550px;
    padding-bottom: 10px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.addadministrator__header__title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.table-form__addadministrator {
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 1280px;
}

.fieldset__addadministrator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1280px;
    align-items: baseline;
}

.form-center__login {
    padding-right: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px;
}

.form-center__password {
    padding-right: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px;
}

.form-center__active {
    padding-right: 216px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 1280px;
}

.save-drop__addadministrator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px;
    padding-top: 20px;
}